body{
    background-color: aquamarine;
    margin: 0px;
}

.main{
    width: 600px;
    height: 600px;
    margin: auto;
    background-color: azure;
}
.first{
    width: 200px;
    height: 200px;
    position: relative;
    left: 0px;
    right: 0px;
    top: 300px;
    bottom: 0px;
    background-color: blanchedalmond;
}
.first img{
    width: 200px;
    height: 200px;
    border: 6px solid brown;
    
}
.second{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 700px;
    right: 0px;
    top: 20px;
    bottom: 0px;
    background-color: pink;
}
.third{
    width: 200px;
    height: 200px;
    left: 600px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: olive;
}
.third img{
    border: 7px solid brown;
}